<header>
	<%= link_to logo, '#' %>
	<nav class="round">
		<ul>
			<li><%= link_to "Inicio", '#' %></li>
			<li><%= link_to "Adiccion 1", '#' %></li>
			<li><%= link_to "Adiccion 2", '#' %></li>
			<li><%= link_to "Adiccion 3", '#' %></li>
			<li><%= link_to "Adiccion 4", '#' %></li>
		</ul>
	</nav>
</header>
